.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 2.5rem;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

.mask-icon {
  --size: 2rem;
  width: var(--size);
  height: var(--size);

  /* mask */
  -webkit-mask-image: var(--mask-image-url);
  mask-image: var(--mask-image-url);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  background-color: currentColor;
  color: var(--text-100);
  transition: color calc(var(--transition-duration) / 4) ease-in-out;
}

.theme-icon {
  --mask-image-url: url("../icons/theme-icon.svg");
  transform: var(--theme-icon-transform);
  transition: transform var(--transition-duration) ease-in-out,
    color calc(var(--transition-duration) / 4) ease-in-out;
}

.restart-icon {
  --mask-image-url: url("../icons/restart-icon.svg");
  transition: transform var(--transition-duration) ease-in-out,
    color calc(var(--transition-duration) / 4) ease-in-out;
}

.restart-button.hide .restart-icon {
  transform: rotate(180deg);
}

.restart-button,
.theme-button {
  all: unset;
  display: flex;
  cursor: pointer;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color var(--transition-duration) ease-in-out,
    opacity calc(var(--transition-duration) / 2);
}

.restart-button:hover,
.theme-button:hover,
.restart-button:focus-visible,
.theme-button:focus-visible {
  background-color: var(--bg-300);
}

.timer-icon {
  --mask-image-url: url("../icons/timer-icon.svg");
}

.timer-wraper {
  display: flex;
  padding-right: 0.25rem;
  transition: opacity calc(var(--transition-duration) / 2) ease-in-out;
}

.timer-span {
  font-family: "Roboto Mono", monospace;
}
