.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 2.5rem;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.mask-icon {
  --size: 2rem;
  width: var(--size);
  height: var(--size);

  /* mask */
  -webkit-mask-image: var(--mask-image-url);
  mask-image: var(--mask-image-url);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  background-color: currentColor;
  color: var(--text-100);
}

.theme-button {
  --mask-image-url: url("../icons/theme-icon.svg");
}

.restart-icon {
  --mask-image-url: url("../icons/restart-icon.svg");
}

.restart-button,
.theme-button {
  all: unset;
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
}

.timer-icon {
  --mask-image-url: url("../icons/timer-icon.svg");
}

.timer-wraper {
  display: flex;
  padding-right: 0.2rem;
}

.timer-span,
.theme-span {
  padding-top: 0.15rem;
}
