#typingBox {
  width: 90%;
  max-width: 800px;
  min-height: 10rem;
  background-color: var(--bg-200);
  padding: 1rem;
  border-radius: 0.25rem;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: background-color var(--transition-duration) ease;
}

.quote-span-wraper,
.typing-area {
  --line-height: 2rem;
  --padding-y: 0.5rem;
  --padding-x: 0.75rem;
  --border-width: 2px;
  margin: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  padding: var(--padding-y) var(--padding-x);
  font-family: "Roboto Mono", monospace;
  font-weight: inherit;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border-width: var(--border-width);
  border-style: solid;
  min-height: calc(
    (var(--line-height)) + (var(--padding-y) * 2) + (var(--border-width) * 2)
  );

  color: inherit;
  width: calc(100% - (var(--padding-x) * 2));
}

.quote-span-wraper {
  border-color: transparent;
  letter-spacing: 0px;
}

.typing-area {
  resize: none;
  border-color: hsla(205, 100%, 50%, 0.25);
  letter-spacing: 1px;
  caret-color: var(--theme-accent);
}

.typing-area::placeholder {
  color: inherit;
  opacity: 0.4;
}

.typing-area:hover {
  border-color: hsla(205, 100%, 50%, 0.5);
}

.typing-area:focus {
  border-color: hsla(205, 100%, 50%, 01);
}

.quote-span-wraper > span {
  border-left: 1px solid transparent;
  animation: none;
}

.quote-span-wraper > span.cursor {
  border-left-color: var(--theme-accent);
  animation: cursorBlink 530ms 200ms infinite steps(1) alternate;
}

@keyframes cursorBlink {
  0% {
    border-left-color: var(--theme-accent);
  }

  50% {
    border-left-color: transparent;
  }

  100% {
    border-left-color: var(--theme-accent);
  }
}

div.hide {
  display: none;
}
