#typingBox {
  width: 90%;
  max-width: 800px;
  min-height: 235px;
  background-color: var(--bg-200);
  padding: 1rem;
  border-radius: 0.25rem;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: background-color var(--transition-duration) ease-in-out;
}

.typing-content-wraper {
  transition: opacity calc(var(--transition-duration) / 2) ease-in-out;
}

.quote-span-wraper,
.typing-area {
  --line-height: 2rem;
  --padding-y: 0.5rem;
  --padding-x: 0.75rem;
  --border-width: 2px;
  margin: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  padding: var(--padding-y) var(--padding-x);
  font-family: "Roboto Mono", monospace;
  font-weight: inherit;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border-width: var(--border-width);
  border-style: solid;
  min-height: calc(
    (var(--line-height)) + (var(--padding-y) * 2) + (var(--border-width) * 2)
  );
  letter-spacing: 1px;
  color: inherit;
  width: calc(100% - (var(--padding-x) * 2));
}

.quote-span-wraper {
  border-color: transparent;
}

.typing-area {
  resize: none;
  border-color: hsla(205, 100%, 50%, 0.25);
  caret-color: var(--theme-accent);
}

.typing-area::placeholder {
  color: inherit;
  opacity: 0.4;
}

.typing-area:hover {
  border-color: hsla(205, 100%, 50%, 0.5);
}

.typing-area:focus {
  border-color: hsla(205, 100%, 50%, 01);
}

.quote-span-wraper > span {
  animation: none;
}

.quote-span-wraper > span.space {
  display: inline-block;
  width: 1ch;
  transform: translateY(6px);
}

.quote-span-wraper > span.cursor {
  animation: cursorBlink 530ms 200ms infinite steps(1) alternate;
  border-bottom: 2px solid var(--theme-accent);
}

.quote-span-wraper > span.correct {
  color: var(--green);
}

.quote-span-wraper > span.incorrect {
  border-bottom: 2px solid var(--red);
  color: var(--red);
}

@keyframes cursorBlink {
  0% {
    border-bottom-color: var(--theme-accent);
  }

  50% {
    border-bottom-color: transparent;
  }

  100% {
    border-bottom-color: var(--theme-accent);
  }
}

.loading-icon {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 0.25rem solid var(--theme-accent);
  border-bottom-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hide,
div.hide,
button.hide {
  opacity: 0;
  pointer-events: none;
}
